<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^phronesis-school.com
RewriteRule (.*) http://www.phronesis-school.com/$1 [R=301,L]

# Removing index.php string from url on codeigniter
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>